body {
    background-image: url('/Cop4710_Project/Frontend/images/hills.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', Arial, sans-serif;
}

.login-title {
    margin-top: 80px;
    color: black;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.login-form {
    background-color: #D7DEE9;
    background: transparent;
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: calc(100% - 40px);
    max-width: 450px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
}

.login-form h3 {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input[type="text"], .form-group input[type="email"],
.form-group input[type="password"] {
    width: 94%;
    padding: 12px;
    border: 1px solid rgb(21, 21, 21);
    border-radius: 15px;
    background: #F1F1F1;
    transition: border 0.3s, box-shadow 0.3s;
}

.form-group input[type="text"]:focus, 
.form-group input[type="password"]:focus {
    outline: none;
    border-color: #8FB1E2;
    box-shadow: 0 0 0 3px rgba(143, 177, 226, 0.2);
}

.form-group button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #8FB1E2;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
}

.form-group button:hover {
    background-color: #708ab0;
}

.form-group:last-child {
    margin-bottom: 0;
}

#loginResult {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
}

.textForm {
    border-radius: 15px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    background: #F1F1F1;
}

.buttonAdd {
    border-radius: 15px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    background: #8FB1E2;
    font-weight: 600;
    padding: 10px 15px;
    transition: background 0.3s;
}

.buttonAdd:hover {
    background: #708ab0;
}